:root {
  --brand-color-iris: #4d5ae5;
  --brand-color-navyblue: #2e2f42;
  --brand-color-slate: #434455;
  --brand-color-white: #ffffff;
  --brand-color-cloud: #f4f4fd;
  --brand-color-ocean: #404bbf;
  --brand-color-buttonsborder: #e7e9fc;
  --brand-color-light-slate: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-iris);
  display: inline-block;
  margin-right: 76px;
  margin-bottom: 16px;
}

.nav-menu > .logo {
  margin-top: 16px;
}

.link {
  text-decoration: none;
}

.link-list {
  display: inline-block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
  font-weight: 500;
}

.link-list:hover,
.link-list:focus {
  color: var(--brand-color-ocean);
}

.header-logo {
  color: var(--brand-color-navyblue);
}

.footer-logo {
  color: var(--brand-color-cloud);
}

.list {
  list-style-type: none;
  color: var(--brand-color-navyblue);
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list,
.list-section,
.section-team,
.btn-list {
  list-style-type: none;
}

.contact-details-list {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.contact-item {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--brand-color-slate);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--brand-color-ocean);
}
.block-with-button {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--brand-color-navyblue);
  background-image: url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.block-with-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2e2f42b2 70%;
}

.text-block {
  position: relative;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);
  font-weight: 700;
  display: flex;
  align-self: center;
}
.btn-order {
  position: relative;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--brand-color-iris);
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-white);
  padding: 16px 32px;
  margin-top: 48px;
}

.btn-order:hover {
  background-color: var(--brand-color-ocean);
  color: var(--brand-color-white);
}

.btn-order:focus {
  background-color: var(--brand-color-ocean);
}

.title-article {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
}

.center {
  text-align: center;
}

.article {
  color: var(--brand-color-slate);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.section-team {
  padding: 120px 0;
  background-color: var(--brand-color-cloud);
}

.photo-team {
  display: block;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--brand-color-white);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
}

.section-customers {
  padding-top: 120px;
}

.customers-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  gap: 24px;
}

.customer-logo {
  width: 168px;
  height: 88px;
  fill: var(--brand-color-light-slate);
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  padding: 16px 32px;
}

.customer-logo:hover {
  fill: var(--brand-color-ocean);
}
.last-section {
  background-color: var(--brand-color-navyblue);
  padding: 100px 0;
}

.last-section-text {
  color: var(--brand-color-cloud);
  letter-spacing: 0.32px;
  line-height: 1.5;
  max-width: 264px;
}

.footer-column1 {
  display: inline-block;
}

.container-footer {
  display: flex;
}

.container-footer-icons {
  display: inline-block;
  margin-left: 120px;
}
.footer-socials-title {
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 14px;
  max-width: 288px;
}

.btn-filter {
  background: var(--brand-color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--brand-color-buttonsborder);
  border-radius: 4px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-ocean);
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-shadow:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-container-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  gap: 40px;
}

.container-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.box-feature {
  width: calc((100% - 72px) / 4);
}

.feature-icon-box {
  background-color: var(--brand-color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-icon {
  height: 64px;
  width: 64px;
  margin: 24px 100px;
}
.section-images {
  padding-bottom: 120px;
}

.title-section-images {
  margin-bottom: 72px;
  text-align: center;

  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.container-images-list {
  display: flex;
  gap: 24px;
}

.box-image {
  width: calc((100% - 48px) / 3);
}

.container-photos-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.container-boxname {
  padding: 32px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-btns-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.card-item {
  padding: 32px 16px;
  border: 1px solid var(--brand-color-buttonsborder);
  border-top: none;
}

h2 > .title-article {
  margin-bottom: 8px;
}

.icon-socialmedia {
  width: 16px;
  height: auto;
}

.footer-icon-socialmedia {
  width: 24px;
  height: auto;
}

.icons-socialmedia-team {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

#icon-social-instagram-2,
#icon-social-twitter-1,
#icon-social-facebook-1,
#icon-social-linkedin-1 {
  height: 16px;
  width: 16px;
  text-align: center;
}

.icon-instagram,
.icon-twitter,
.icon-linkedin,
.icon-facebook {
  display: flex;
  justify-content: center;
  background-color: var(--brand-color-iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon-instagram-footer:hover,
.icon-instagram-footer:focus,
.icon-twitter-footer:hover,
.icon-twitter-footer:focus,
.icon-linkedin-footer:hover,
.icon-linkedin-footer:focus,
.icon-facebook-footer:hover,
.icon-facebook-footer:focus {
  background-color: #31d0aa;
}
