:root {
  --brand-color-iris: #4d5ae5;
  --brand-color-navyblue: #2e2f42;
  --brand-color-slate: #434455;
  --brand-color-white: #ffffff;
  --brand-color-cloud: #f4f4fd;
  --brand-color-ocean: #404bbf;
  --brand-color-buttonsborder: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-iris);
  display: inline-block;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.link-list {
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
  font-weight: 500;
}

.link-list:hover,
.link-list:focus {
  color: var(--brand-color-ocean);
}

.header-logo {
  color: var(--brand-color-navyblue);
}

.footer-logo {
  color: var(--brand-color-cloud);
}

.list {
  list-style-type: none;
  color: var(--brand-color-navyblue);
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list,
.list-section,
.section-team,
.btn-list {
  list-style-type: none;
}

.contact-details-list {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  margin-right: 156px;
  gap: 40px;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.contact-item {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--brand-color-slate);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--brand-color-ocean);
}
.block-with-button {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--brand-color-navyblue);
}

.text-block {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);
  font-weight: 700;
  display: flex;
  align-self: center;
}
.btn-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--brand-color-iris);
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-white);
  padding: 16px 32px;
  margin-top: 48px;
}

.btn-order:hover {
  background-color: var(--brand-color-ocean);
  color: var(--brand-color-white);
}

.btn-order:focus {
  background-color: var(--brand-color-ocean);
}

.title-article {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
}

.article {
  color: var(--brand-color-slate);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  /* margin-bottom: 8px; */
}

.section-team {
  padding: 120px 0;
  background-color: var(--brand-color-cloud);
}

.photo-team {
  display: block;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--brand-color-white);
  border-radius: 0 0 4px 4px;
}

.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
}

.last-section {
  background-color: var(--brand-color-navyblue);
  padding: 100px 0;
}

.last-section-text {
  color: var(--brand-color-cloud);
  letter-spacing: 0.32px;
  line-height: 1.5;
  max-width: 264px;
}

.btn-filter {
  background: var(--brand-color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--brand-color-buttonsborder);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-ocean);
  border: 1px solid transparent;
  border-radius: 4px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-container-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  justify-content: space-around;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  gap: 40px;
}

.container-footer {
  margin: 100px 1020px 100px 156px;
}

.container-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.box-feature {
  width: calc((100% - 72px) / 4);
}

.section-images {
  padding-bottom: 120px;
}

.title-section-images {
  margin-bottom: 72px;
  text-align: center;

  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.container-images-list {
  display: flex;
  gap: 24px;
}

.box-image {
  width: calc((100% - 48px) / 3);
}

.container-photos-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.container-boxname {
  padding: 32px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-btns-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.card-item {
  padding: 32px 16px;
  border: 1px solid var(--brand-color-buttonsborder);
  border-top: none;
}
