:root {
  --brand-color-iris: #4d5ae5;
  --brand-color-navyblue: #2e2f42;
  --brand-color-slate: #434455;
  --brand-color-white: #ffffff;
  --brand-color-cloud: #f4f4fd;
  --brand-color-ocean: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-iris);
  font-style: normal;
}

.link {
  text-decoration: none;
}

.link-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
  font-weight: 500;
}

.link-list:hover,
.link-list:focus {
  color: var(--brand-color-ocean);
}

.header-logo {
  color: var(--brand-color-navyblue);
}

.footer-logo {
  color: var(--brand-color-cloud);
}

.list {
  list-style-type: none;
  color: var(--brand-color-navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list,
.list-section,
.section-team,
.btn-list {
  list-style-type: none;
}

.address-section {
  font-style: normal;
}

.contact-details {
  font-style: normal;
  font-size: 16px;

  letter-spacing: 0.32px;
  list-style-type: none;
}

.contact-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--brand-color-slate);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--brand-color-ocean);
}
.header-block {
  background-color: var(--brand-color-navyblue);
}
.header-studio {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);

  font-style: normal;
  font-weight: 700;
}

.btn-order {
  background: var(--brand-color-iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-white);
  cursor: pointer;

  border: 4px solid;
  border-color: var(--brand-color-navyblue);
  text-align: center;

  font-style: normal;
}

.btn-order:hover {
  background-color: var(--brand-color-ocean);
  color: var(--brand-color-white);
}

.btn-order:focus {
  background-color: var(--brand-color-ocean);
}

.title-article {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
  font-style: normal;
}

.article {
  color: var(--brand-color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.team {
  background-color: var(--brand-color-cloud);
}

.team-item {
  background-color: var(--brand-color-white);
}
.title-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);

  font-style: normal;
  font-weight: 700;
}

.last-section {
  background-color: var(--brand-color-navyblue);
}

.last-section-text {
  color: var(--brand-color-cloud);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.btn-filter {
  background: var(--brand-color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-ocean);
}
