:root {
  --brand-color-iris: #4d5ae5;
  --brand-color-navyblue: #2e2f42;
  --brand-color-slate: #434455;
  --brand-color-white: #ffffff;
  --brand-color-cloud: #f4f4fd;
  --brand-color-ocean: #404bbf;
  --brand-color-buttonsborder: #e7e9fc;
  --brand-color-light-slate: #8e8f99;
  --brand-color-dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-iris);
  display: inline-block;
  margin-right: 76px;
  margin-bottom: 16px;
}

.nav-menu > .logo {
  margin-top: 16px;
}

.link {
  text-decoration: none;
}

.link-list {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.link-list:hover,
.link-list:focus {
  color: var(--brand-color-ocean);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list:focus::after,
.link-list:active::after{
  opacity: 1;
}


.link-active {
  color: var(--brand-color-ocean);

}

.link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color-ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 1;
  
}

.header-logo {
  color: var(--brand-color-navyblue);
}

.footer-logo {
  color: var(--brand-color-cloud);
}

.list {
  list-style-type: none;
  color: var(--brand-color-navyblue);
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list,
.list-section,
.section-team,
.btn-list {
  list-style-type: none;
}

.contact-details-list {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.contact-item {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--brand-color-slate);
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--brand-color-ocean);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.block-with-button {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--brand-color-navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.text-block {
  position: relative;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);
  font-weight: 700;
  display: flex;
  align-self: center;
}
.btn-order {
  position: relative;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--brand-color-iris);
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-white);
  padding: 16px 32px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover {
  background-color: var(--brand-color-ocean);
  color: var(--brand-color-white);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:focus {
  background-color: var(--brand-color-ocean);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-article {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-navyblue);
}

.center {
  text-align: center;
}

.article {
  color: var(--brand-color-slate);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.section-team {
  padding: 120px 0;
  background-color: var(--brand-color-cloud);
}

.photo-team {
  display: block;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--brand-color-white);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;

  list-style: none;
  justify-content: space-between;
  margin-bottom: 120px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-logo {
  fill: currentColor;
  width: 168px;
}

.customer-logo:hover {
  fill: var(--brand-color-ocean);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--brand-color-light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--brand-color-ocean);
  color: var(--brand-color-ocean);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.last-section {
  background-color: var(--brand-color-navyblue);
  padding: 100px 0;
}

.last-section-text {
  color: var(--brand-color-cloud);
  letter-spacing: 0.32px;
  line-height: 1.5;
  max-width: 264px;
}

.footer-column1 {
  margin-right: 120px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-icons {
  display: inline-block;
}
.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 288px;
  list-style: none;
}

.btn-filter {
  background: var(--brand-color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--brand-color-buttonsborder);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.btn-filter:hover,
.btn-filter:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-ocean);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-shadow:hover,
.btn-shadow:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-container-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  gap: 40px;
  max-height: 72px;
}

.container-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.box-feature {
  width: calc((100% - 72px) / 4);
}

.feature-icon-box {
  background-color: var(--brand-color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}

.section-images {
  padding-bottom: 120px;
}

.title-section-images {
  margin-bottom: 72px;
  text-align: center;

  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-navyblue);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.container-images-list {
  display: flex;
  gap: 24px;
}

.box-image {
  width: calc((100% - 48px) / 3);
}

.container-photos-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.container-boxname {
  padding: 32px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-btns-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.transition-project-card {
  display: block;
  position: relative;
  overflow: hidden;
}


.transition-project-card:hover::after {
  transform: translateY(-100%);
}

.description-transition-card {
  position: absolute;
  top: 0;
  font-size: 16 px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--brand-color-cloud);
  padding: 40px 32px;
  background-color: var(--brand-color-iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   

 }

.description-transition-card::after {
  content: "";
  position: absolute;
}

.description-transition-card:hover::after {
  transform: translateY(-100%);
}

.link-card:hover .description-transition-card,
.link-card:focus .description-transition-card {
  transform: translateY(0%);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-card:hover,
.link-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.card-item {
  padding: 32px 16px;
  border: 1px solid var(--brand-color-buttonsborder);
  border-top: none;
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h2 > .title-article {
  margin-bottom: 8px;
}

.icon-socialmedia {
  width: 16px;
  height: auto;
  fill: var(--brand-color-cloud);
}

.socialmedia-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  background-color: var(--brand-color-ocean);  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.footer-icon-socialmedia {
  fill: var(--brand-color-cloud);
}

.icons-socialmedia-team {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  
}

.object-social-icon {
  width: 40px;
  height: 40px;
  }

.footer-object-social-icon {
  width: 40px;
  height: 40px;
  gap: 16px;
}

.socialmedia-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-footer-link:hover,
.socialmedia-footer-link:focus {
  background-color: #31d0aa;
  transition: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: var(--brand-color-dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }


.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--brand-color-buttonsborder);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--brand-color-ocean);
  border: none;
  fill: var(--brand-color-white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close-modal-window {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

